body{
    background-color: #ebf0ed;
    
    /* not sure how to make the img opacity lower */
    /* background-image: url("./the-Grayman-full-movie.webp"); */
}

img{
    margin-top: 2%;
}

form{
    margin-bottom: 2%;
}

.navbar{
    background-color: #1F2421;
}
.btn {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: #49A078;
  }
  .btn:hover {
    color: #4d9a9c;
    background: transparent;
     box-shadow:none;
  }


#movies{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.box {
    position: relative;
    width: 100%;
}
.box .detail{
    visibility: hidden;
    position: absolute;
    bottom: 6px;
    left: 150px;
    padding: 10px;
    height: 0;
    width: 0;
    background: rgba(0,0,0,0.791);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    transition: 250ms;
    overflow: hidden;
}

.box:hover .detail{
    visibility: visible;
    padding: 10px;
    height: 95%;
    width: 50%;
    text-align: center;
    align-items: center;
}

.logo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.logoSize{
    max-width: 140px;
}

@media only screen and (max-width: 3400px) {
    .box .detail {
        left: 80px;
    }
    
    .box:hover .detail {
        width: 65%;
    }
}